{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Pepito - Mobile Vet Services</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/new.css'%}">

</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="centered">
            <div class="cont">
                <div class="loader-circle"></div>
                <div class="loader-line-mask">
                    <div class="loader-line"></div>
                </div> <img src="{% static 'img/preloader.png' %}" alt="">
            </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Navbar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo -->
                <div class="logo-wrapper">
                    <a class="logo" href="{% url 'home' %}">
                        <img src="{% static 'img/logoo.png' %}" class="logo-img" alt="">
                    </a>
                </div>
                <!-- Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa-light fa-bars"></i></span>
                </button>
                <!-- Menu -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Service</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'adoption' %}">Adoption</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                    <div class="navbar-right">
                        <div class="button"><a href="{% url 'contact'%}"><i class="flaticon-pawprint-4 mr-5"></i> Send a message</a></div>
                    </div>
                </div>
            </div>
        </nav>
    <!-- Header Banner -->
    <section class="banner-header section-padding bg-img" data-overlay-dark="1" data-background="{% static 'img/slider/2.jpg' %}">
        <div class="v-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h6><div class="icon"><i class="flaticon-prize-badge-with-paw-print"></i></div> Get in touch</h6>
                        <h1>Contact us</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact -->
    <section class="contact section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-12 mb-30">
                    <h5>Location</h5>
                    <div class="item mb-15">
                        <div class="icon"><span class="fa-solid fa-location-dot"></span></div>
                        <div class="text">0665 Bole st. 10234 Addis Ababa, Ethiopia</div>
                    </div>
                    <div class="item mb-15">
                        <div class="icon"><span class="fa-solid fa-phone"></span></div>
                        <div class="text"> <a href="tel:+1-234-567-8910">+1 234 567 8910</a> </div>
                    </div>
                    <div class="item mb-30">
                        <div class="icon"><span class="fa-solid fa-envelope"></span></div>
                        <div class="text"> <a href="tel:hello@Pepito.com">hello@Pepito.com</a> </div>
                    </div>
                    <!-- Worktime -->
                    <div class="worktime">
                        <h5 class="mb-20">Opening hours</h5>
                        <ul>
                            <li>
                                <div class="tit">Mon - Fri</div>
                                <div class="dots"></div> <span>8.00 am - 8.00 pm</span>
                            </li>
                            <li>
                                <div class="tit">Saturday</div>
                                <div class="dots"></div> <span>9.00 am - 6.00 pm</span>
                            </li>
                            <li>
                                <div class="tit">Sunday</div>
                                <div class="dots"></div> <span>Closed</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-12">
                    <div class="form-box">
                        <h5>Get in touch</h5>
                        <form method="post" action="{% url 'make_appointment' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input name="name" type="text" placeholder="Full Name" required title="Full Name is required">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="email" type="email" placeholder="Email" required title="Email is required">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="phone" type="text" placeholder="Phone" required title="Phone is required">
                                </div>

                                <div class="col-md-6 form-group">
                                    <select class="form-select" name="service" required title="Please Select Service">
                                        <option hidden disabled selected>Select Service</option>
                                        <option>Livestock Support</option>
                                        <option>Pet dentistry</option>
                                        <option>Vaccinations</option>
                                        <option>Veterinary Service</option>
                                        <option>Healthy Meals</option>
                                        <option>Dog walking</option>
                                        <option>Puppy program</option>
                                        <option>Training services</option>
                                        <option>Overnight care</option>
                                        <option>Pet grooming</option>
                                    </select>
                                </div>

                                <div class="col-md-12 form-group">
                                    <input name="subject" type="text" placeholder="Subject" required title="Subject is required">
                                </div>

                                <div class="col-md-12 form-group">
                                    <textarea name="message" cols="30" rows="4" placeholder="Message" ></textarea>
                                </div>

                                <div class="col-md-12 form-group">
                                    <input type="checkbox" name="consultation">
                                    <label>Schedule a free health consultation</label>
                                </div>

                                <div class="col-md-12 mt-20">
                                    <button type="submit">
                                        <i class="fa-light fa-calendar-check mr-5"></i> Make appointment
                                    </button>
                                </div>
                            </div>

                        {% if error %}
                                <p style="color: red; margin-top: 10px;">{{ error }}</p>
                            {% endif %}

                            {% if success %}
                                <p style="color: green; margin-top: 10px;">Message sent successfully!</p>
                            {% endif %}

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer">
        <!-- top -->
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-30">
                        <div class="item">
                            <div class="logo"><img src="{% static 'img/logo-light.png' %}" alt=""></div>
                            <p class="mb-20">Pepito Mobile Vet Services provides reliable animal health support for farmers and their livestock.</p>
                            <div class="social-icons">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-x-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-1 mb-30">
                        <div class="item">
                            <h3>Contact</h3>
                            <div class="location">0665 Bole st.
                                <br>10234 Addis Ababa, Ethiopia
                            </div>
                            <div class="phone"><a href="tel:+1234567890">+251 987 654 321</a></div>
                            <div class="mail"><a href="mailto:hello@Pepito.com">hello@Pepito.com</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="item">
                            <h3>Subscribe</h3>
                            <p class="mb-20">Want to be notified about our services. Just sign up and we'll send you a notification by email.</p>
                            <div class="newsletter">
                                <form action="#">
                                    <input type="email" placeholder="Email Address" required="">
                                    <button type="submit"><i class="fa-light fa-arrow-right"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="divido"></div>
                </div>
            </div>
        </div>
        <!-- bottom -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="links">
                             <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'services' %}">Services</a></li>
                                <li><a href="{% url 'adoption' %}">Adoption</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 text-end">
                        <p>&copy; Copyright by <a href="#">Pepito Mobile Vet Services</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.v3.0.2.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/YouTubePopUp.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>
