{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Pepito - Mobile Vet Services</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/new.css'%}">

</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="centered">
            <div class="cont">
                <div class="loader-circle"></div>
                <div class="loader-line-mask">
                    <div class="loader-line"></div>
                </div> <img src="{% static 'img/preloader.png' %}" alt="">
            </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Navbar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo -->
                <div class="logo-wrapper">
                    <a class="logo" href="{% url 'home' %}">
                        <img src="{% static 'img/logoo.png' %}" class="logo-img" alt="">
                    </a>
                </div>
                <!-- Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa-light fa-bars"></i></span>
                </button>
                <!-- Menu -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'services' %}">Service</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'adoption' %}">Adoption</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                    <div class="navbar-right">
                        <div class="button"><a href="{% url 'contact'%}"><i class="flaticon-pawprint-4 mr-5"></i> Send a message</a></div>
                    </div>
                </div>
            </div>
        </nav>
    <!-- Header Banner -->
    <section class="banner-header section-padding bg-img" data-overlay-dark="3" data-background="{% static 'img/slider/cow.jpg' %}">
        <div class="v-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Livestock Support</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Single -->
    <section class="post section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 mb-30">
                            <p>We provide expert care and support for farm animals, helping farmers keep their livestock healthy and productive. Our team offers guidance on nutrition, disease prevention, and overall well-being to improve farm productivity and income.</p>
                            <p>With mobile consultations and in-person visits, we ensure timely treatment, advice, and support for all your livestock needs, helping farmers manage their animals efficiently and effectively.</p>
                            <p>We also offer training and resources to farmers, empowering them with the knowledge and skills to maintain healthy, thriving livestock year-round.</p>
                        </div>
                    </div>
                    <!-- Gallery -->
                    <div class="row gallery-items">
                        <div class="col-lg-4 col-md-12 mb-20 gallery-masonry-wrapper single-item">
                            <a href="{% static 'img/services/d.jpg' %}" title="" class="gallery-masonry-item-img-link img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="{% static 'img/services/d.jpg' %}" class="img-fluid mx-auto d-block" alt=""> </div>
                                    <div class="gallery-masonry-item-img"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-12 mb-20 gallery-masonry-wrapper single-item">
                            <a href="{% static 'img/services/b.jpg' %}" title="" class="gallery-masonry-item-img-link img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="{% static 'img/services/b.jpg' %}" class="img-fluid mx-auto d-block" alt=""> </div>
                                    <div class="gallery-masonry-item-img"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-12 mb-20 gallery-masonry-wrapper single-item">
                            <a href="{% static 'img/services/c.jpg' %}" title="" class="gallery-masonry-item-img-link img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="{% static 'img/services/c.jpg' %}" class="img-fluid mx-auto d-block" alt=""> </div>
                                    <div class="gallery-masonry-item-img"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services 1 -->
<section class="services1 section-padding bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-30">
                    <div class="section-subtitle">
                        <div class="icon"><i class="flaticon-pawprint-4"></i></div> We love animals
                    </div>
                    <div class="section-title">Our pet care services</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="front">
                                <div class="contents"> <span class="flaticon-dog-and-pets-house">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="72" viewBox="0 0 80 72">
                                                <path class="svg-image fill-color" d="M30,16C46.588,6.484,54.481-2.058,64.3,1.452c3.145,1.125,6.861,3.657,10.212,9.426A40.611,40.611,0,0,1,59.5,66.544,41.151,41.151,0,0,1,3.482,51.629C0.134,45.865-.2,41.289.375,38.125,2.228,27.979,13.544,25.436,30,16Z"></path>
                                            </svg>
                                        </span> </span>
                                    <h2 class="title">Livestock Support</h2>
                                    <p class="text">Helping farmers keep animals healthy and productive.</p>
                                </div>
                            </div>
                            <div class="back"> <img class="img img-fluid" src="{% static 'img/services/01.jpg' %}">
                                <div class="contents">
                                    <h2 class="title">Livestock Support</h2>
                                    <p class="text">Helping farmers keep animals healthy and productive.</p>
                                    <a href="#" class="button-1 mt-20">Read more</a>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="front">
                                <div class="contents"> <span class="flaticon-animals-11">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="72" viewBox="0 0 80 72">
                                                <path class="svg-image fill-color-2" d="M30,16C46.588,6.484,54.481-2.058,64.3,1.452c3.145,1.125,6.861,3.657,10.212,9.426A40.611,40.611,0,0,1,59.5,66.544,41.151,41.151,0,0,1,3.482,51.629C0.134,45.865-.2,41.289.375,38.125,2.228,27.979,13.544,25.436,30,16Z"></path>
                                            </svg>
                                        </span> </span>
                                    <h2 class="title">Dog walking</h2>
                                    <p class="text">Providing reliable care to keep your animals healthy and productive.</p>
                                </div>
                            </div>
                            <div class="back"> <img class="img img-fluid" src="{% static 'img/services/02.jpg' %}">
                                <div class="contents">
                                    <h2 class="title">Dog walking</h2>
                                    <p class="text">Providing reliable care to keep your animals healthy and productive.</p> <a href="#" class="button-1 mt-20">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="front">
                                <div class="contents"> <span class="flaticon-veterinarian-hospital">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="72" viewBox="0 0 80 72">
                                                <path class="svg-image fill-color-3" d="M30,16C46.588,6.484,54.481-2.058,64.3,1.452c3.145,1.125,6.861,3.657,10.212,9.426A40.611,40.611,0,0,1,59.5,66.544,41.151,41.151,0,0,1,3.482,51.629C0.134,45.865-.2,41.289.375,38.125,2.228,27.979,13.544,25.436,30,16Z"></path>
                                            </svg>
                                        </span> </span>
                                    <h2 class="title">Pet dentistry</h2>
                                    <p class="text">Basic animal dental care to keep your livestock healthy and prevent diseases.</p>
                                </div>
                            </div>
                            <div class="back"> <img class="img img-fluid" src="{% static 'img/services/03.jpg' %}">
                                <div class="contents">
                                    <h2 class="title">Pet dentistry</h2>
                                    <p class="text">Basic animal dental care to keep your livestock healthy and prevent diseases.</p> <a href="#" class="button-1 mt-20">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="front">
                                <div class="contents"> <span class="flaticon-syringe">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="72" viewBox="0 0 80 72">
                                                <path class="svg-image fill-color-4" d="M30,16C46.588,6.484,54.481-2.058,64.3,1.452c3.145,1.125,6.861,3.657,10.212,9.426A40.611,40.611,0,0,1,59.5,66.544,41.151,41.151,0,0,1,3.482,51.629C0.134,45.865-.2,41.289.375,38.125,2.228,27.979,13.544,25.436,30,16Z"></path>
                                            </svg>
                                        </span> </span>
                                    <h2 class="title">Vaccinations</h2>
                                    <p class="text">Providing essential vaccinations to protect your animals from common diseases.</p>
                                </div>
                            </div>
                            <div class="back"> <img class="img img-fluid" src="{% static 'img/services/04.jpg' %}">
                                <div class="contents">
                                    <h2 class="title">Vaccinations</h2>
                                    <p class="text">Providing essential vaccinations to protect your animals from common diseases.</p> <a href="#" class="button-1 mt-20">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="front">
                                <div class="contents"> <span class="flaticon-scissors">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="72" viewBox="0 0 80 72">
                                                <path class="svg-image fill-color-2" d="M30,16C46.588,6.484,54.481-2.058,64.3,1.452c3.145,1.125,6.861,3.657,10.212,9.426A40.611,40.611,0,0,1,59.5,66.544,41.151,41.151,0,0,1,3.482,51.629C0.134,45.865-.2,41.289.375,38.125,2.228,27.979,13.544,25.436,30,16Z"></path>
                                            </svg>
                                        </span> </span>
                                    <h2 class="title">Pet grooming</h2>
                                    <p class="text">Basic grooming and hygiene care to keep your animals clean and healthy.</p>
                                </div>
                            </div>
                            <div class="back"> <img class="img img-fluid" src="{% static 'img/services/05.jpg' %}">
                                <div class="contents">
                                    <h2 class="title">Pet grooming</h2>
                                    <p class="text">Basic grooming and hygiene care to keep your animals clean and healthy.</p> <a href="#" class="button-1 mt-20">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="front">
                                <div class="contents"> <span class="flaticon-dog-puppy">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="72" viewBox="0 0 80 72">
                                                <path class="svg-image fill-color" d="M30,16C46.588,6.484,54.481-2.058,64.3,1.452c3.145,1.125,6.861,3.657,10.212,9.426A40.611,40.611,0,0,1,59.5,66.544,41.151,41.151,0,0,1,3.482,51.629C0.134,45.865-.2,41.289.375,38.125,2.228,27.979,13.544,25.436,30,16Z"></path>
                                            </svg>
                                        </span> </span>
                                    <h2 class="title">Puppy program</h2>
                                    <p class="text">Guidance and care for young animals to ensure healthy growth and development.</p>
                                </div>
                            </div>
                            <div class="back"> <img class="img img-fluid" src="{% static 'img/services/06.jpg' %}">
                                <div class="contents">
                                    <h2 class="title">Puppy program</h2>
                                    <p class="text">Guidance and care for young animals to ensure healthy growth and development.</p> <a href="#" class="button-1 mt-20">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="front">
                                <div class="contents"> <span class="flaticon-cross">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="72" viewBox="0 0 80 72">
                                                <path class="svg-image fill-color-4" d="M30,16C46.588,6.484,54.481-2.058,64.3,1.452c3.145,1.125,6.861,3.657,10.212,9.426A40.611,40.611,0,0,1,59.5,66.544,41.151,41.151,0,0,1,3.482,51.629C0.134,45.865-.2,41.289.375,38.125,2.228,27.979,13.544,25.436,30,16Z"></path>
                                            </svg>
                                        </span> </span>
                                    <h2 class="title">Veterinary service</h2>
                                    <p class="text">Professional veterinary care to diagnose, treat, and prevent animal health issues.</p>
                                </div>
                            </div>
                            <div class="back"> <img class="img img-fluid" src="{% static 'img/services/07.jpg' %}">
                                <div class="contents">
                                    <h2 class="title">Veterinary service</h2>
                                    <p class="text">Professional veterinary care to diagnose, treat, and prevent animal health issues.</p> <a href="#" class="button-1 mt-20">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="front">
                                <div class="contents"> <span class="flaticon-animal-13">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="72" viewBox="0 0 80 72">
                                                <path class="svg-image fill-color-3" d="M30,16C46.588,6.484,54.481-2.058,64.3,1.452c3.145,1.125,6.861,3.657,10.212,9.426A40.611,40.611,0,0,1,59.5,66.544,41.151,41.151,0,0,1,3.482,51.629C0.134,45.865-.2,41.289.375,38.125,2.228,27.979,13.544,25.436,30,16Z"></path>
                                            </svg>
                                        </span> </span>
                                    <h2 class="title">Overnight care</h2>
                                    <p class="text">Safe and attentive care for your animals overnight when you are away.</p>
                                </div>
                            </div>
                            <div class="back"> <img class="img img-fluid" src="{% static 'img/services/08.jpg' %}">
                                <div class="contents">
                                    <h2 class="title">Overnight care</h2>
                                    <p class="text">Safe and attentive care for your animals overnight when you are away.</p> <a href="#" class="button-1 mt-20">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="front">
                                <div class="contents"> <span class="flaticon-pet-food">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="72" viewBox="0 0 80 72">
                                                <path class="svg-image fill-color" d="M30,16C46.588,6.484,54.481-2.058,64.3,1.452c3.145,1.125,6.861,3.657,10.212,9.426A40.611,40.611,0,0,1,59.5,66.544,41.151,41.151,0,0,1,3.482,51.629C0.134,45.865-.2,41.289.375,38.125,2.228,27.979,13.544,25.436,30,16Z"></path>
                                            </svg>
                                        </span> </span>
                                    <h2 class="title">Healthy meals</h2>
                                    <p class="text">Providing nutritious meals to keep your animals strong and healthy.</p>
                                </div>
                            </div>
                            <div class="back"> <img class="img img-fluid" src="{% static 'img/services/09.jpg' %}">
                                <div class="contents">
                                    <h2 class="title">Healthy meals</h2>
                                    <p class="text">Providing nutritious meals to keep your animals strong and healthy.</p> <a href="#" class="button-1 mt-20">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="front">
                                <div class="contents"> <span class="flaticon-people-1">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="72" viewBox="0 0 80 72">
                                                <path class="svg-image fill-color-2" d="M30,16C46.588,6.484,54.481-2.058,64.3,1.452c3.145,1.125,6.861,3.657,10.212,9.426A40.611,40.611,0,0,1,59.5,66.544,41.151,41.151,0,0,1,3.482,51.629C0.134,45.865-.2,41.289.375,38.125,2.228,27.979,13.544,25.436,30,16Z"></path>
                                            </svg>
                                        </span> </span>
                                    <h2 class="title">Fun activities</h2>
                                    <p class="text">Engaging activities to keep your animals active and happy.</p>
                                </div>
                            </div>
                            <div class="back"> <img class="img img-fluid" src="{% static 'img/services/10.jpg' %}">
                                <div class="contents">
                                    <h2 class="title">Fun activities</h2>
                                    <p class="text">Engaging activities to keep your animals active and happy.</p> <a href="#" class="button-1 mt-20">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="front">
                                <div class="contents"> <span class="flaticon-dog-training-3">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="72" viewBox="0 0 80 72">
                                                <path class="svg-image fill-color-3" d="M30,16C46.588,6.484,54.481-2.058,64.3,1.452c3.145,1.125,6.861,3.657,10.212,9.426A40.611,40.611,0,0,1,59.5,66.544,41.151,41.151,0,0,1,3.482,51.629C0.134,45.865-.2,41.289.375,38.125,2.228,27.979,13.544,25.436,30,16Z"></path>
                                            </svg>
                                        </span> </span>
                                    <h2 class="title">Training services</h2>
                                    <p class="text">Practical guidance to train animals for better health and farm productivity.</p>
                                </div>
                            </div>
                            <div class="back"> <img class="img img-fluid" src="{% static 'img/services/11.jpg' %}">
                                <div class="contents">
                                    <h2 class="title">Training services</h2>
                                    <p class="text">Practical guidance to train animals for better health and farm productivity.</p> <a href="#" class="button-1 mt-20">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer">
        <!-- top -->
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-30">
                        <div class="item">
                            <div class="logo"><img src="{% static 'img/logo-light.png' %}" alt=""></div>
                            <p class="mb-20">Pepito Mobile Vet Services provides reliable animal health support for farmers and their livestock.</p>
                            <div class="social-icons">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-x-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-1 mb-30">
                        <div class="item">
                            <h3>Contact</h3>
                            <div class="location">0665 Bole st.
                                <br>10234 Addis Ababa, Ethiopia
                            </div>
                            <div class="phone"><a href="tel:+1234567890">+251 987 654 321</a></div>
                            <div class="mail"><a href="mailto:hello@Pepito.com">hello@Pepito.com</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="item">
                            <h3>Subscribe</h3>
                            <p class="mb-20">Want to be notified about our services. Just sign up and we'll send you a notification by email.</p>
                            <div class="newsletter">
                                <form action="#">
                                    <input type="email" placeholder="Email Address" required="">
                                    <button type="submit"><i class="fa-light fa-arrow-right"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="divido"></div>
                </div>
            </div>
        </div>
        <!-- bottom -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="links">
                             <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'services' %}">Services</a></li>
                                <li><a href="{% url 'adoption' %}">Adoption</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 text-end">
                        <p>&copy; Copyright by <a href="#">Pepito Mobile Vet Services</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.v3.0.2.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/YouTubePopUp.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>